.hero-container {
  max-width: 1440px;
  width: 100%;
  height: 800px;
  background-image: url(/images/orange.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-container header {
  max-width: 1352px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation ul {
  display: flex;
  gap: 47px;
  align-items: center;
}
.header-navigation button {
  padding: 15px 32px;
  border-radius: 28px;
  font-size: 15px;
  color: #24303e;
  font-weight: 700;
  font-family: "Fraunces";
  cursor: pointer;
}
.header-navigation a {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  font-family: "Barlow";
}
.header-navigation a:hover {
  color: black;
}
.header-navigation button:active {
  background-color: lightblue;
  transform: translateY(4px);
}
.orange-content h3 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 56px;
  color: #ffffff;
  margin-top: 105px;
}
#forDirection {
  width: 30px;
  height: 107px;
  position: absolute;
  top: 375px;
}
.brand-section {
  display: flex;
}
.brand-section img {
  width: 720px;
  height: 600px;
}
.brand-class {
  max-width: 445px;
  width: 100%;
  margin: auto 110px auto 165px;
}
.brand-class h4 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  color: #24303e;
  line-height: 49px;
}
.brand-class p {
  font-family: "Barlow";
  font-weight: 600px;
  font-size: 18px;
  line-height: 30px;
  color: #808397;
  margin-top: 32px;
}
.brand-class button {
  margin-top: 40px;
  font-weight: 900;
  font-family: "Fraunces";
  background-color: white;
  font-size: 15px;
  color: #24303e;
  position: relative;
  margin-left: 8px;
}
.extraButtonstyle {
  max-width: 137px;
  width: 100%;
  position: relative;
}
#forextraonceusage {
  width: 137px;
  height: 10px;
  background-color: #fad40025;
  position: absolute;
  border-radius: 28px;
  bottom: 0;
}
